/* General Styles */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

.custom-card-deck {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.custom-card {
  width: 100%;
  max-width: 800px;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: slideUp 0.5s ease-in-out;
}

.custom-card:hover {
  transform: translateY(-10px) rotateY(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 20px rgba(22, 36, 71, 0.6);
}

.card-image-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.custom-card:hover .card-image-wrapper img {
  transform: scale(1.1);
}

.custom-card ion-card-header {
  background-color: #f8f8f8;
  padding: 20px;
}

.custom-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color: #333;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

ion-header {
  --background: #162447;
}

ion-toolbar {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(22, 36, 71, 0.6);
}

ion-title {
  color: #fff;
  font-size: 2.4em;
  flex: 1;
  text-align: center;
}

ion-back-button {
  color: #fff;
  position: absolute;
  left: 15px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .custom-card {
    width: 80%;
  }

  .card-image-wrapper {
    height: 500px;
  }

  .custom-title {
    font-size: 2.5em;
  }
}

@media (min-width: 1200px) {
  .custom-card {
    width: 70%;
  }

  .card-image-wrapper {
    height: 600px;
  }

  .custom-title {
    font-size: 3em;
  }
}
