<ion-header>
  <ion-toolbar style="--background: #162447;">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="custom-card-deck">
    <ion-card class="custom-card" (click)="navigateToPage('drinks')">
      <div class="card-image-wrapper">
        <img src="assets/images/drinks.jpeg" />
      </div>
      <ion-card-header>
        <ion-card-title class="custom-title">Drinks</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="custom-card" (click)="navigateToPage('foods')">
      <div class="card-image-wrapper">
        <img src="assets/images/foods.jpeg" />
      </div>
      <ion-card-header>
        <ion-card-title class="custom-title">Foods</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
